body {
    background-color: aquamarine;
    background-image: url(./images/backgrounds/stadium_images/stadium-night.jpg);
    background-size: cover;
}
/*
.jumbotron {
    background: none;
}
*/
/*.card-deck {
    border: 1px solid black;
}*/
.card {
    text-align: center;
    border: 1px solid red;
    background-color: rgba(250, 250, 241, 0.788);
}
.card-img-top {
    width: 219px;
    padding-bottom: 10px;
    
}
#dropdownMenuButton {
    
}


