body {
    background-color: aquamarine;
    background-image: url(./images/backgrounds/stadium_images/stadium-night.jpg);
    background-size: cover;
}
/*
.jumbotron {
    background: none;
}
*/
.card-deck {
    border: 1px solid black;
}

.card {
    border: 1px solid red;
    background-color: beige;
}
.card-img-top {
    width: 219px;

}